body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: none;
  }
  
  .about-us {
    text-align: center;
    max-width: 600px;
    padding: 40px 20px;
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  
  .about-us h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffd700; 
  }
  
  .about-us p {
    font-size: 20px;
    line-height: 1.6;
    color: #ddd;
  }
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #121212 !important;
    
  }
  nav.navbar a.back-link {
    font-size: 1.5rem; 
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
  }
  
  nav.navbar a.back-link svg {
    width: 38px;  
    height: 38px; 
    fill: white;
  }
  .about-us strong {
    color: #ffd700;
  }