body {
    background-image: url('Images/workout.webp') !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: none;
  
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; 
  }
  .container {
    padding: 50px 20px;
    text-align: center;
    color: yellow;
    
  }
  
  h1 {
    margin-bottom: 40px;
    font-size: 80px;
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 100%;     
    max-width: none;  
    margin: 0; 
  }
  
  .muscle-button {
    background-color: #222;
    color: white;
    padding: 80px 40px;
    text-decoration: none;
    border: 2px solid #555;
    border-radius: 30px;
    font-size: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .muscle-button::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
  }
  
  .muscle-button:hover::before {
    opacity: 0.4;
  }
  
  .muscle-button:hover {
    color: #fff;
    transform: scale(1.05);
    font-weight: bold;
  }
  #chest::before { background-image: url('Images/chest.jpg'); }
#back::before { background-image: url('Images/back.webp'); }
#shoulders::before { background-image: url('Images/shoulder&traps.webp'); }
#legs::before { background-image: url('Images/legs.jpg'); }
#abs::before { background-image: url('Images/abs.webp'); }
#arms::before { background-image: url('Images/arms.webp'); }
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #121212 !important;
    
  }
  nav.navbar a.back-link {
    font-size: 1.5rem; 
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
  }
  
  nav.navbar a.back-link svg {
    width: 38px;  
    height: 38px; 
    fill: white;
  }